html{
    scroll-behavior: smooth;
}


body{
    background-color:rgb(223, 255, 244)
}

.margin{
    margin: 20px;
}

a:visited{
    text-decoration: none;;
}

a:hover{
    text-decoration: none;
}

a:link{
    text-decoration: none;
}

#BIRTHDAY{
    color: lightcoral;
    text-align: center;
    font-size: 75px;
    font-family: "Sour Gummy"
}

#index a{
    text-decoration: none;
    color: lightcoral;
}

#Names{
    list-style-type: none;
    padding: 0;
    font-size: 75px;
    float: left;
    display: flex; 
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
}

#Marianne{
    color: rgba(171, 206, 239, 0.819);
    margin: 20px;
    text-align: center;
    font-size: 75px;
    text-decoration: none;
}

#Marianne:visited{
    text-decoration: none;
    color: rgba(171, 206, 239, 0.819);
}

#Marianne-lower-half a{
    text-decoration: none;
    color: rgba(171, 206, 239, 0.819);
}

#Nhumai-page{
    text-align: center;
    font-size: 75px;
    color: rgb(255, 192, 192);
}

#Nhumai-page a{
    text-decoration: none;
    color: rgb(255, 192, 192);
}

#stupidcat{
    color: #50939e;
    text-decoration: none;
    text-align: center;
    font-size: 75px;
}

#stupidcat-lower-half a{
    text-decoration: none;
    color: #50939e;
}

#stupidcat-page{
    color: #50939e;
    font-size: 50px;
    text-align:center;
    margin: 0px 20px 350px 20px;
    overflow: wrap;
}

#stupidcat-picture{
    float: left;
    width: 500px;
    height: 500px;
    margin: auto;
    border: 15px solid transparent;
    border-image: url("../PHOTOS/") 30 round;
    border-image-slice: 60px 60px 60px 60px;
}
