 html{
    scroll-behavior: smooth;
}

#BIRTHDAY{
    color: lightcoral;
    text-align: center;
    font-size: 75px;
    font-family: "Sour Gummy"
}

body{
    background-color:rgb(223, 255, 244)
}

#Names{
    list-style-type: none;
    padding: 0;
    font-size: 75px;
    float: left;
    display: flex; 
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
}

#Marianne{
    color: rgba(171, 206, 239, 0.819);
    margin: 20px;
    text-decoration: none;
}

#Marianne:visited{
    text-decoration: none;
    color: rgba(171, 206, 239, 0.819);
}

.margin{
    margin: 20px;
}

a:visited{
    text-decoration: none;;
}

a:hover{
    text-decoration: none;
}

a:link{
    text-decoration: none;
}
#marianne-page{
   color: #1a354ed1;
    text-align: center;
    font-size: 75px;
}

#marianne-page a{
    color: #1a354ed1;
    text-decoration: none;
}

#index a{
    text-decoration: none;
    color: lightcoral;
}

#Nhumai-page{
    text-align: center;
    font-size: 75px;
    color: rgb(255, 192, 192);
}

#Nhumai-page a{
    text-decoration: none;
    color: rgb(255, 192, 192);
}
